.business-area {
	width: 100%;
	height: 766px;
	.business-item{
		padding-top: 170px;
		.business-content{
			h1{
				font-size: 60px;
				line-height: 68px;
				font-weight: 700;
				color: #fff;
				margin-bottom: 45px;
			}
		}
	}
}