.tec-lists{
  .tec-item{
    border-bottom:1px solid #e7e7e7;
    margin-bottom: 22px;
    padding-bottom: 22px; 
    &:last-child{
      border-bottom:none; 
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .icon{
    	text-align: center;
    	display: block;
    	min-width: 55px;
    	width: 55px;
    }
    .text-content{
    	padding-left: 23px;
    	p{
    		font-weight: 500;
    		font-size: 18px;
    		line-height: 28px;
    		margin-bottom: 5px; 
    	}
    	h4{
    		font-size: 22px;
    		font-weight: 700;
    	}
    }
  }
}
.text-list{
  li{
    font-size: 18px;
    line-height: 32px;
    color: #798191;
    span{
      margin-left: 20px;
    }
  }
}
.has-border-top{
  border-top:1px solid #ededed;
}